@import url('https://fonts.googleapis.com/css2?family=Chango&family=Open+Sans:ital,wght@0,300;0,600;0,700;1,400&display=swap');

body{
  background: red !important;
}
.Interface__container{
    font-family: 'Chango', cursive;
    color: #F2B880;
    // background: #FFF4EC;
    border-radius: 10px;
    height: 500px;
    width: 350px;
    padding: 0px 20px;
    position: absolute;
    z-index: 3;
    right: 20px;
    top: 50px;
}

.InterfaceHeader__flavor{
  font-weight: normal;
  font-size: 20px;
}


$md-radio-checked-color: #E7CFBC;
$md-radio-border-color: #F2B880;
$md-radio-size: 20px;
$md-radio-checked-size: 14px; 
$md-radio-ripple-size: 15px;

@keyframes ripple {

  0% {
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.0);
  }

  50% { 
    box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(255, 255, 255, 0.509);
  }

  100% {
    box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(255, 255, 255, 0);
  }
}

.RadioButton {
    margin: 32px 0;

    input[type="radio"] {
        display: none;

        &:checked + label:before {
            border-color: $md-radio-checked-color;
            animation: ripple 0.2s linear forwards;   
        }

        &:checked + label:after {
            transform: scale(1);
        }
    }

    label {
        display: inline-block;
        height: fit-content;
        font-size: 2em;
        position: relative;
        padding: 0 ($md-radio-size + 10px);
        margin-bottom: 0;
        cursor: pointer;
        vertical-align: bottom;

        &:before, &:after {
            position: absolute;            
            content: '';  
            border-radius: 50%;
            transition: all .3s ease;
            transition-property: transform, border-color;
        }

        &:before {
            left: 0;
            top: 10px;
            width: $md-radio-size;
            height: $md-radio-size;
            border: 2px solid $md-radio-border-color;
        }

        &:after {
            top: 15px;
            left: 5px;
            width:$md-radio-checked-size;
            height:$md-radio-checked-size;
            transform: scale(0);
            background:$md-radio-checked-color;
        }
    }
}


.checkbox__container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin-top: 60px;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkmark {
            background-color: #E7CFBC;
          }

          :checked ~ .checkmark:after {
            display: block;
          }
          
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: transparent;
        border: 2px solid;
        border-radius: 5px;

        &:after {
            content: "";
            position: absolute;
            display: none;
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: 10px solid #F2B880;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
              
          }
      }

  
  }